.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-left,
.sidebar-right {
  width: 200px;
  background-color: #333;
  color: #fff;
}

.main-content {
  flex-grow: 1;
  text-align: center; /* Center main content */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}
.statique {
  position: relative;
  margin-top:38%;
  padding: 10px;
  display: flex;
  margin-Bottom: 10px;
  



}

.dashboard-stats {
  margin-right: 20px;
  font-size: 24px;
}

.red {
  color: red;
}

.green {
  color: green;
}
.date{
  width:min-content;
  margin:10px;
}
.pourcentage{
  font-weight:light; /* Bold font weight */
  color:rgb(0, 0, 0);
  font-size: 22px;
  font-family: Arial, sans-serif;

}
.usetab{
  text-align: center;
  font-size: 19px;
  color: black;
  padding: 3px 40px;
  display:inline-block;
}